page-view {
    p{
        white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
        word-wrap: break-word; /* IE */
        word-break: break-all;
    }
    h2{
        padding: 10px 0;
        letter-spacing: 3px;

        small{
            color: #606c94;
            
        }
    }
    .rb{
        display: block;
        text-align: center;

    }
}
