<!--
  Generated template for the ViewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color = "primary">
    <ion-title>View Items</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-list-header>
      THINGS TO DO
    </ion-list-header>
    <ion-item-sliding   *ngFor = "let item of items; let x = index">
      <ion-item>
        <h2> {{item.title}} |<small> {{item.myDate}} </small></h2>
        <p>{{item.note}}</p>
        
      </ion-item>
      <ion-item-options side="right">
        <button ion-button (click) = "delete(x)">
          <ion-icon name="trash" class = "icon"></ion-icon>DELETE
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  
  <ion-fab right bottom>
    <button ion-fab color="primary" (click) = "goToAdd()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

</ion-content>
